.header{
  display: flex;
  justify-content: space-between;
  background-color: rgba(239, 182, 138, 0.913);
  height: 80px;
  border: 1px solid black;
}

.logo-img{
  width: 120px;
  height: 80px;
  cursor: pointer;

}
.nav-item > ul {
  display: flex;
  margin-right: 200px;
}

.nav-item >ul > li {
  font-family: sans-serif;
  cursor: pointer;
  padding: 15px;
  font-weight: bold;
  font-size: 22px;
  list-style-type: none;

}
.nav-item >ul :hover{
  background-color: azure;
}
.search{
  padding: 30px;
}
.res-img{
  width: 300px;
  height: 250px;
}
.res-card{
  margin: 5px;
  padding: 10px;
  width: 300px;
  background-color: rgb(241, 156, 131);
}
.res-card:hover{
  border: 1px solid brown;
  cursor: pointer;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}